section{

animation:fade .8s ease;

}

@keyframes fade{

from{

opacity:0;
transform:translateY(30px);

}

to{

opacity:1;
transform:translateY(0);

}

}

img{

transition:.4s;

}

img:hover{

box-shadow:0 30px 60px rgba(236,72,153,.25);

}
